<h1>todolist</h1>

<table>
    <tbody>
        <% tasks.forEach((task,idx) => {  %>
            <tr>
                <td><%= task.name %></td>
                <td>
                    <a href="/tasks/<%= task._id %>">Show</a>
                    &nbsp;
                    <a href="/tasks/<%= task._id %>/edit">Edit</a>
                    &nbsp;
                    <form method="POST" action="/tasks/<%= task._id %>/destroy?_method=DELETE" style="display:inline">
                        <a href="javascript:{};" onclick="this.parentNode.submit();">Delete</a>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>

<div>
    <a href="/tasks/new">new todo</a>
</div>
