<h1>new todo</h1>

<form action="/tasks" method="POST">
    <div>
        <label>
            <input name="name" placeholder="enter your task here" />
        </label>
    </div>
    <input type="submit" value="Submit" />
</form>

<div>
    <a href="/">Back</a>
</div>
